@import "reset";
@import "fonts";

body {
  font: 400 14px OpenSans-Regular;
  background: #f5f5f5;
}

.content {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;

	.list {
		.block {
			margin: 20px 0;
			h2 {
				display: inline-block;
				margin-bottom: 10px;
				font: 400 16px OpenSans-Bold;
				cursor: pointer;
			}
			ul {
				display: none;
				padding-left: 10px;
				li {
					list-style-type: none;
				}
			}
		}
	}
}
