<!doctype html>
<html>
	<head>
		<title>lab 2</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/lab2lib/static/bootstrap.min.css">
		<script src="/lab2lib/static/jquery.min.js"></script>
		<script src="/lab2lib/static/scripts.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Library</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% for punct in navbar %}
							<li><a href="{{punct.link}}">{{punct.title}}</a></li>
						{% endfor %}
					</ul>
				</div><!--/ nav -->
			</div>
		</div>
		<div style="margin-top: 100px" class="container">
			<div class="row">
				<div class="col-md-12">
					{% for cart in table.extr %}
						<table id="{{cart.extr}}" class="table table-striped">
							<thead>
								<tr>
									{% for tHead in table.head %}
										<th>{{tHead}}</th>
									{% endfor %}
								</tr>
							</thead>
							{% for book in cart.books %}
								<tr class="{% if book.status == '0' %} warning {% else %} success {% endif %}">
									<td class="">{{book.data.bookdata}}</td>
									<td class="">{{book.data.reader}}</td>
									<td class="">{{book.data.librarier}}</td>
									<td class="">{{book.data.issueddate}}</td>
									<td>
										{% if book.status == '0' %}
											<a href="cart={{book.cart}}&book={{book.book}}" class="update btn-link">update</a>
										{% else %}
											<span>book was returned</span>
										{% endif %}
									</td>
								</tr>
								{% if forloop.last %}
									<tr>
										<td colspan="6">
											<a href="cart={{book.cart}}" class="delete btn btn-block btn-primary">delete</a>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					{% endfor %}
				</div>
			</div><!-- / table -->
			<div class="row">
				<div class="col-md-12">
					{% for form in forms %}
					<h4 class="accordion-toggle">{{form.action}}</h4>
					<div class="accordion-content">
						<form id="{{form.name}}" role="form">
							{% for input in form.inputs %}
								<input type="text" name="{{input.name}}" class="{{input.name}} form-control input-md" placeholder="{{input.placeholder}}">
							{% endfor %}
							<button type="button" class="add_book btn btn-primary btn-small btn-block">add book</button>
							<button type="button" class="{{form.button}} btn btn-primary btn-lg btn-block">{{form.button}}</button>
						</form>
					</div>
					{% endfor %}
				</div>
			</div><!-- / form -->
		</div><!-- / container -->
		<div style="margin-top: 50px"></div>
	</body>
</html>