<!doctype html>
<html>
	<head>
		<title>lab 2</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/lab2lib/static/bootstrap.min.css">
		<script src="/lab2lib/static/jquery.min.js"></script>
		<script src="/lab2lib/static/scripts.js"></script> 
		<!--<link type="text/css" rel="stylesheet" href="/lab2lib/static/styles.css">-->
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Library</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% for punct in navbar %}
							<li><a href="{{punct.link}}">{{punct.title}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div style="margin-top: 100px" class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" id="fill_with_json" class="btn btn-block btn-primary">Fill database fro JSON file</a>
				</div>
			</div>
		</div>
	</body>
</html>