<!doctype html>
<html>
	<head>
		<title>lab 2</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/lab2lib/static/bootstrap.min.css">
		<script src="/lab2lib/static/jquery.min.js"></script>
		<script src="/lab2lib/static/scripts.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Library</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% for punct in navbar %}
							<li><a href="{{punct.link}}">{{punct.title}}</a></li>
						{% endfor %}
					</ul>
				</div><!--/ nav -->
			</div>
		</div>
		<div style="margin-top: 100px" class="container">
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped">
						<thead>
							<tr>
								{% for tHead in table.head %}
									<th>{{tHead}}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for item in table.table %}
								<tr class="{{item.id}}">
									{% for collname in item.data %}
										<td><span class="{{collname.col}}">{{collname.val}}</span></td>
									{% endfor %}
									<td>
										<a href="?action=delete&id={{item.id}}" id="delete-{{item.id}}" class="delete {{table.name}}-btn-link">delete</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div><!-- / table -->
			<div class="row">
				<div class="col-md-12">
					{% for form in forms %}
					<h4 class="accordion-toggle">{{form.action}}</h4>
					<div class="accordion-content">
						<form id="{{form.name}}" role="form">
							{% for input in form.inputs %}
								<input type="text" name="{{input.name}}" class="{{input.name}} form-control input-md" placeholder="{{input.placeholder}}">
							{% endfor %}
							<button type="button" class="{{form.button}} btn btn-primary btn-lg btn-block">{{form.button}}</button>
						</form>
					</div>
					{% endfor %}
				</div>
			</div><!-- / form -->
		</div><!-- / container -->
	</body>
</html>