body {
	margin: 0;
}
.wrapper {
	background-color: #f6f6f6;
}
.wrapper-inner {
	margin: 0px auto;
	padding: 30px;
}
ul li {
	list-style-type: none;
	display: inline-block;
	margin: 5px;
}
a {
text-decoration: none;
color: #394042;
}

.header {
	height: 80px;
	background-color: transparent;
	width: 100%;
	background-color: #f6f6f6;

}
.navmenu {
	float: right;
	min-width: 50%;
	text-align: right;
	letter-spacing: 1px;
}
.title {
	float: left;
	letter-spacing: 2px ;
	min-width: 50%;
}

.clearfix {
	clear: both;
}
a:hover {
	border-bottom: 1px solid #394042;
}

.main-section {
	position: relative;
	background-color: #fff;
	min-height: 100px;
	min-width: 200px;
}

.secondary-section {
	float: left;
	width:30%;
	height:300px;
	background-image: url(_37JecXamxY.jpg);
	background-size: cover;
	background-position: center;
}
.content-section {
	float: right;
	width: 70%;
	height: 300px;
	text-align: center;
	background: #fff;
}
.content-section p {
	padding: 30px;
}

.footer {
	background-color: #3e3636;
	min-height: 50px;
	margin-top: 30px;
	color: #fff;
	text-align: center;
	padding: 10px;
}